<html lang="en">
  <head>
    <meta charset='utf-8'/>
    <title><%= list["title"] %></title>
    <script class="remove">
        var respecConfig = {
          
          // specification status (e.g. WD, LCWD, NOTE, etc.). If in doubt use ED.
          specStatus:           "CG-DRAFT",

          // the specification's short name, as in http://www.w3.org/TR/short-name/
          shortName:            "activity-list",

          // if you wish the publication date to be other than today, set this
          // publishDate:  "2009-08-06",

          // if there is a previously published draft, uncomment this and set its YYYY-MM-DD date
          // and its maturity status
          // previousPublishDate:  "1977-03-15",
          // previousMaturity:  "WD",

          // if there a publicly available Editor's Draft, this is the link
          edDraftURI:           "https://www.openactive.io/activity-list",
          //prevED:  "https://www.openactive.io/spec-template/",
          //previousURI:  "https://www.openactive.io/realtime-paged-data-exchange/0.2.3/",
          //testSuiteURI: "https://www.openactive.io/endpoint-validator/",
          copyrightStart: 2017,

          // if this is a LCWD, uncomment and set the end of its review period
          // lcEnd: "2009-08-05",

          // editors, add as many as you like
          // only "name" is required
          editors: [
              { name: "Leigh Dodds", url: "http://ldodds.com",
                company: "Open Data Institute", companyURL: "http://opendata.institute/",
                w3cid: "55359" },
              { name: "Becky Linsley",
                company: "SportSuite", companyURL: "http://sportsuite.co.uk/" },
              { name: "Jade Moulden",
                company: "Exercise, Movement and Dance", companyURL: "https://emduk.org/" }

          ],

          // authors, add as many as you like.
          // This is optional, uncomment if you have authors as well as editors.
          // only "name" is required. Same format as editors.

          authors: [
          ],

          otherLinks: [{
                key: "Repo",
                value: "We are on Github",
                href: "https://github.com/openactive/activity-list/",
                class: "repo"
            }, {
                key: "Issues",
                href: "https://github.com/openactive/activity-list/issues/"
            }, {
                key: "Version",
                value: "Editor's Draft"
            }
          ],

          logos: [
            {
              src: 'https://www.openactive.io/assets/openactive-logo-large.png',
              href: "https://www.openactive.io",
              alt: "openactive.io",
              width: 255, //170
              height: 43, //22
              id: 'logo'
            }
          ],

          // extend the bibliography entries
          //localBiblio: {},

          // name of the WG
          wg:           "Openactive Community Group",

          // URI of the public WG page
          wgURI:        "http://www.w3.org/community/openactive/",

          // name (with the @w3c.org) of the public mailing to which comments are due
          wgPublicList: "public-openactive",

          // URI of the patent status for this WG, for Rec-track documents
          // !!!! IMPORTANT !!!!
          // This is important for Rec-track documents, do not copy a patent URI from a random
          // document unless you know what you're doing. If in doubt ask your friendly neighbourhood
          // Team Contact.
          wgPatentURI:  "",
          maxTocLevel: 4,
          preProcess: [ ] ,
          alternateFormats: [ {uri: "diff-previous.html", label: "diff to previous version"} ],
          isRecTrack:   true,
          isNoTrack:    true,
          issueBase:    "https://github.com/openactive/activity-list/issues/",
          localBiblio: {
            "JSON-LD": {
                "href": "https://www.w3.org/TR/json-ld/",
                "title": "JSON-LD 1.0",
                "status": "REC",
                "publisher": "W3C",
            },
            "SCHEMA-ORG": {
                "href": "http://schema.org/",
                "title": "Schema.org"
                
            },
            "SKOS": {
                "href": "https://www.w3.org/TR/skos-primer",
                "title": "SKOS Simple Knowledge Organization System Primer",
                "status": "NOTE",
                "publisher": "W3C",            
            },
            "Modelling-Opportunity-Data": {
                "href": "https://www.openactive.io/modelling-opportunity-data/",
                "title": "Modelling Opportunity Data",
                "status": "C",
                "publisher": "Open Active Community Group",            
            }            
          }
        };
    </script>
    <script src='https://www.openactive.io/respec/builds/respec-w3c-common.js' class='remove'></script>

    <style>
      dl.terms dt {
        float: left;
        clear: left;
        width: 17vw;
      }
      dl.terms dd:after {
          content: '';
          display: block;
          clear: both;
          margin-bottom: 5px;
      }
      table.rdfs-definition td {vertical-align: top;}
      .bold {font-weight: bold;}
    </style>

  </head>
  <body resource="http://openactive.io/activity-list/" typeof="skos:ConceptScheme" prefix="dc: http://purl.org/dc/terms/ skos: http://www.w3.org/2004/02/skos/core#">
    <style>
    table {border-collapse: collapse; border: 1px solid #bec9d9}
    td, th {padding: 3px 0.5em; border-left:1px solid black; border-right: 1px solid black; border-bottom:1px solid #E2EDFE;}
    tr th[colspan] {color: #005A9C; background-color: #FEEDE2; text-align: center}
    th {color: #005A9C; background-color: #E2EDFE; font-weight: normal;border-bottom:1px solid #BEC9D9;}
    tbody tr th {text-align: left;}
    td.nb { font-size: smaller;}
    .rec, .pr {color: #005A9C; background-color: #99EE99}
    .ext {background-color: #FFFFFF}
    .cr, .lcwd {color: #005A9C; background-color: #EEEE99}
    .wd {color: #005A9C; background-color: #EE9999}
    .ed, .fpwd  {color: #005A9C; background-color: #FF7777}
    code {white-space: pre;}
    
    html {
      background-image: none !important;
    }
    body {
      background: white top left fixed no-repeat !important;
      background-image: url('https://www.openactive.io/assets/openactive-label-editorsdraft.png') !important;
    }
    body.toc-sidebar #toc {
      background-size: 25px auto !important;
      background-attachment: fixed !important;
    }
    h1 {
      font-family: 'Open Sans',sans-serif !important;
      font-weight: 300 !important;
      color: #69b9ff !important;
      font-size: 220%;
    }
    #toc {
      padding-top: 0px !important;
    }
    .remove {
      background-colour: yellow;
    }
    code {
        color: #C83500;
    }

    </style>
  
    <section id="abstract">
      
      <p>
      A Physical Activity is an exercise, sport or other form of bodily movement that involves physical effort. The <span property="dc:title"><%= list["title"] %></span> 
      provides <span property="dc:description">a standard, openly licensed list of physical activities that can be used to categorise and describe opportunities for people to be physically active</span>. 
      The list is intended to be used by publishers who are sharing open data according to the schema described in the [[Modelling-Opportunity-Data]] specification.
      </p>
      
      <p>
      This document provides:
      </p>
      
      <ul>
        <li>both human and machine-readable views of the activity list</li>
        <li>a summary of the requirements and editorial process that have informed the structure of the list</li>
        <li>a description of the process by which the list will be revised and amended</li>
      </ul>
      
    </section>
    <section id="sotd">
      <p>
      This document is an output of the <a href="http://www.w3.org/community/openactive/">Openactive Community Group</a>. The community group was established with the objective of facilitating the sharing and use of physical activity data. 
      </p>
      <p>
      The list is published under the <a property="dc:license" href="<%= list["license"]%>">Creative Commons Attribution (CC-BY) 4.0</a> licence.
      </p>
    </section>
    
    <section>
      <h2>Introduction</h2>

      <p>
      A <a href="https://www.openactive.io/modelling-opportunity-data/#physical-activities">Physical Activity</a> is an exercise, sport or 
      other form of bodily movement that involves physical effort. Physical activities include not just sports, but also 
      a variety of forms of exercise and fitness classes. An Activity List defines a list of physical activities. 
      </p>
      
      <p>
      A standardised activity list, that provides unique identifiers, labels and descriptions for physical activities can:
      </p>
      
      <ul>
       <li>support integration of data published by multiple activity providers</li>
       <li>improve user experience across applications through use of a standard set of activity names and definitions</li>
       <li>enable better discovery and recommendation tools to enable participants to find more opportunities to be active</li>
      </ul>
    
      <p>
      These requirements have been the primary motivation for the creation of the <%= list["title"] %> and have informed its development.
      The activity list is specifically intended to support data publishers who are publishing open data according to the [[Modelling-Opportunity-Data]] specification, 
      which defines <a href="https://www.openactive.io/modelling-opportunity-data/#relating-events-to-physical-activities">how to relate events to physical 
      activities</a>.
      </p>      

      <p>
      Following <a href="https://www.openactive.io/modelling-opportunity-data/#describing-activity-lists-code-skos-conceptscheme-code-and-physical-activity-code-skos-concept-code-">the recommendations</a> of the [[Modelling-Opportunity-Data]] specification, this activity list is defined as a controlled vocabulary using the 
      [[SKOS]] standard.       
      </p> 
      
    </section>      

    <section>
        <h2>Editorial Notes</h2>
        
        <p>
        This vocabulary is managed by the [Openactive Community Group](http://www.w3.org/community/openactive/). It is expected that this list will undergo revisions 
        based on the needs of the OpenActive community.
        </p>

        <p>
        A set of <a href="https://docs.google.com/document/d/15-bSByBhoIdckmlh6Dz3J27xQv7OeTYR0qv-OZh_Mls/edit#heading=h.3fngvdcfo2cs">editorial guidelines</a> have 
        been used to help inform development and management of the list.
        </p>
        
        <p>
        If you wish to make comments regarding this document, please send them to public-openactive@w3.org (<a href="mailto:public-openactive-request@w3.org">subscribe</a>, <a href="https://lists.w3.org/Archives/Public/public-openactive/">archives</a>). You may also submit suggested changes to the <a href="https://github.com/openactive/modelling-opportunity-data/">github repository</a>.
        </p>        
        
    </section>

    <section>
        <h2>Download the List</h2>

        <p>
        The rest of this document provides an human-readable summary of the list. The page also includes embedded RDFa.
        </p>
        
        <p>
        Additional machine-readable views of the data are provided as:
        </p>
        
        <ul>
            <li><a rel="alternate" href="activity-list.csv">CSV</a></li>        
            <li><a rel="alternate" href="activity-list.jsonld">JSON-LD</a></li>
            <li><a rel="alternate" href="activity-list.ttl">Turtle</a></li>
        </ul>
        
        <p>
        The document and all machine-readable views of the data are published under the <a href="<%= list["license"]%>">Creative Commons Attribution (CC-BY) 4.0</a> licence.
        </p>

        <script src='https://certificates.theodi.org/en/datasets/215260/certificate/badge.js'></script>

    </section>
        
    <section>
        <h2>Physical Activities</h2>        
        <% letter = nil %>          
        <% index.keys.sort.each do |label| %>
            <% if letter != label[0] %>
                <% letter = label[0] %>
                <section>
                 <h3>Physical Activities - <%= letter %></h3>
                 <p>Physical activities with labels beginning with the letter <%= letter %></p>
                </section>
            <% end %>
            <% term = terms[ index[label] ] %>
            <% uuid = term[:id].gsub("http://openactive.io/activity-list/#", "") %>                
                <div resource="<%= term[:id] %>" typeof="skos:Concept">
                    <a href="<%= term[:id] %>"><h3 id="<%= uuid %>" property="skos:prefLabel"><%= term[:prefLabel] %></h3></a>
                    <% if term["skos\:definition"] %>
                        <span property="skos:definition"><%= term["skos\:definition"] %></span>    
                    <% end %>    
                    <p>
                    <strong>Synonyms</strong>
                    <% if term[:altLabel].nil? %>
                        <ul><li><span>None</span></li></ul>
                    <% else %>
                        <ul>
                        <% term["altLabel"].each do |label| %>
                            <li><span property="skos:altLabel"><%= label %></span></li>
                        <% end %>
                        </ul>
                    <% end %>
                    </p>
                    <p>
                    <strong>Broader terms</strong>: 
                    <% if term["broader"] %>
                        <ul>
                        <% broader = term["broader"].gsub("http://openactive.io/activity-list/#", "") %>
                        <li><a href="#<%= broader %>" property="skos:broader">
                            <%= index.key(broader) %>
                        </a></li>
                        </ul> 
                    <% else %>
                        <ul><li>None</li></ul>   
                    <% end %>
                    </p>
                    <p>
                    <strong>Narrower terms</strong>: 
                    <% if top_terms[ uuid ] %>
                        <ul>
                            <% top_terms[ uuid ].each do |narrower| %>
                                <li><a href="#<%= narrower %>" property="skos:narrower"><%= index.key(narrower) %></a></li>
                            <% end %>
                        </ul> 
                    <% else %>
                        <ul><li>None</li></ul>   
                    <% end %>
                    </p>

                </div>
            <% end %>
                        
    </section>

    <section class='appendix informative'>   
        <h2>Acknowledgements</h2>
         
        <p>
        The editors would like to thank <a href="http://www.w3.org/community/openactive/participants">all members</a> of the Openactive Community Group for 
        their support and contributions.
        </p>
        <p>
        In particular, the editors would like to thank Sport England, <a href="http://sportsuite.co.uk/">SportSuite</a> and <a href="https://emduk.org/">Exercise, 
        Movement and Dance</a> for providing data that helped to shape the first version of this list.    
        </p>
    </section>
    
  </body>
</html>
